<script id="productos-script" type="text/x-handlebars-template">
<tr class="">
	<td>
		{{ codigo_interno }}
	</td>
	<td>
		{{ codigo_original }}
	</td>
	<td>
		{{ descripcion }}
	</td>
	<td>
		{{ rubro }}
	</td>
	<td>
		{{ ubicacion }}
	</td>
	<td>
		<button type="button" data-toggle="modal" data-target="#modal_edit" id="button_edit" class="btn btn-primary btn-sm">
		<a href="/productos/{{ codigo_interno }}/edit">Editar</a>
		</button>
	</td>
</tr>
</script>