<script id="productos-script" type="text/x-handlebars-template">
<tr class="">
	<td>
		{{ codigo_interno }}
	</td>
	<td>
		{{ codigo_original }}
	</td>
	<td>
		{{ descripcion }}
	</td>
	<td>
		{{ rubro }}
	</td>
	<td>
		{{ ubicacion }}
	</td>
</tr>
</script>