/*.navbar {
  background-color: lightgrey;
}

#titulo {
  color:black;
  font-size: 200%;
  font-weight: bold;
  font-family: Serif;
}

/*.navbar.minavbar .navbar-nav > li > a {
    color: black;
    font-family: Serif;
    font-weight: bold;
    font-size: 150%;

}
.navbar.minavbar .navbar-nav > li.active > a {
    color: darkred;
    background-color: grey;
}

*/


.nav.navbar-nav .active a{background: red;}


/*.navbar-nav > li > a:active {background: red!important;}*/
a {color: black;

}




/*.navbar a.active, a.hover {
    outline: 0;
    background: blueviolet;
}