.navbar {
  background-color: grey;
}

.nav.navbar-nav .active a, a.hover {background: #f6880e;}


a {color: black;
  font-size: 125%;
  font-family: Gandhi;
}


span {font-weight: bold;
       font-size: 150%;
       font-family: Serif;
       color: black;}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E5E5E5
}

.cargador {display: inline;}

h4 {
  text-decoration: underline;
}

