<script id="articulos-script" type="text/x-handlebars-template">
<tr class="">
	<td>
		{{ codigo }}
	</td>
	<td>
		{{ descripcion }}
	</td>
	<td>
		{{ precio }}
	</td>
	<td>
		{{ precioDescuento }}
	</td>
	<td>
		{{ precioMasGanancia }}
	</td>
	<td>
		{{ precioIva }}
	</td>
	<td>
		{{ nombreLista }}
	</td>
	<td>
		{{ descuento }}
	</td>
	<td>
		{{ rubro }}
	</td>
	<td>
		{{ fechaLista }}
	</td>
</tr>
</script>
