<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%= form_tag(articulos_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search] %>
	<%= select_tag :proveedor, options_for_select(['A', 'B']) %>
	<% end %>

  <div id="resultado"></div>

  <script type="text/javascript">
    function actualizarResultados() {
      $.get('/articulos/resultado_articulos', { search: $('#search').val() })
      .success(function(response){
        $('#resultado').html(response);
      });
    }
    actualizarResultados();
    $('#search').keyup(function() {
      actualizarResultados();
    });
    $('#proveedor').change(function() {
      actualizarResultados();
    });
  </script>
</body>
</html>

