  <%= javascript_include_tag('articulos.js') %>
  <%= form_tag(articulos_path, :method => "get", id: "search-form") do %>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: 'Ingrese CÓDIGO o DESCRIPCIÓN', size:60, 
              class: "form-control typeahead" %>       
          <span class="input-group-btn">
              <button class="btn btn-warning" id="botonBusqueda" type="button">BUSCAR</button>
          </span>
        </div>    
      </div>
      <div class="col-lg-6">
          <div class="input-group">
            <%= select_tag :proveedor, options_from_collection_for_select(@proveedores, :id, :nombre), include_blank: 'Seleccionar...', class: 'form-control' %>
          </div> 
      </div>  
    </div>
	<% end %>

  <div id="resultado"></div>

