<% if @articulos.present? %>
  <table class="table table-striped">
    <tr>
      <th>Codigo</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Proveedor</th>
      <th>Lista</th>
      <th>Rubro</th>
      <th>Fecha precio</th>
    </tr>
      <%= render @articulos %>
  </table>
<% else %>
  <p>No existen artículos que contengan <%= params[:search] %>.</p>
<% end %>
